header{
    
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(../img/pexels-igor-haritanovich-1695052.jpg);
    background-position: center;
    background-size:cover ;
    

}
header img{
    border-radius: 50%;
}
.navbar{
    border-bottom: solid 4px black;
}
.nav-link{
    font-size: 1.3rem;
    font-weight: bold;
}
.x{
background-color: rgba(165, 148, 129) ;
color: white;
}
